@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NexaBold';
    src:  url('../fonts/NexaBold.ttf.woff') format('woff'),
    url('../fonts/NexaBold.ttf.svg#NexaBold') format('svg'),
    url('../fonts/NexaBold.ttf.eot'),
    url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@layer base {
    body {
      font-family: 'Montserrat';
    }
  
  }

@layer components {
 
  .testimonialSwiperPagination .swiper-pagination-bullet-active{
    background-color: rgb(var(--primary)) !important;
  }
  .testimonialSwiperPagination .swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
  }
  .accordion-toggle:checked ~ .accordion-title .accordion-arrow{
    transform: rotate(270deg);
    top: 37%;
    right: 0.60rem;
  }
  .nav-menu .menu-item-has-children>a{
    padding-right: 18px;
  }
  .nav-menu .menu-item-has-children>a:after {
    content: '';
    transform: translate(-50%, -50%) rotate(-135deg);
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 1.5px solid #000;
    border-left: 1.5px solid #000;
    transform-origin: center;
    transition: all 0.3s ease;
}
.nav-menu>.menu-item-has-children>a:after {
  border-top-color: #000;
  border-left-color: #000;
}
.nav-menu .menu-item-has-children:hover>a:after {
  border-top-color: rgb(var(--primary));
  border-left-color: rgb(var(--primary));
}

}