@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NexaBold';
    src:  url('../fonts/NexaBold.ttf.woff') format('woff'),
    url('../fonts/NexaBold.ttf.svg#NexaBold') format('svg'),
    url('../fonts/NexaBold.ttf.eot'),
    url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@layer base {
    body {
      font-family: 'Montserrat';
    }
  
  }
